@use "../base/variables" as variables;
@use "../base/mixins" as mixins;

.features {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mixins.respond-to(medium) {
      flex-direction: column;
    }
  }
}
