@use "../base/variables" as variables;
@use "../base/mixins" as mixins;

.features {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mixins.respond-to(medium) {
      flex-direction: row;

      .grid__item {
        flex: 0 0 calc(50% - 20px);
      }
    }

    @include mixins.respond-to(small) {
      flex-direction: column;
    }
  }
}
