@use "variables";

body {
  font-family: variables.$font-text;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: variables.$link-color;
  text-decoration: underline;

  &:not(.button) {
    &:hover {
      color: variables.$button-bg;
    }
  }
}