$primary-text-color: #444444;
$secondary-text-color: #777777;
$hint-text-color: #AAAAAA;
$badge-bg: #BBBBBB;
$light-gray-color: #F8F8F8;
$medium-gray-color: #e1e1e1;
$border-color: #DDDDDD;
$link-color: #036AAB;
$button-bg: #E27730;
$button-bg--hover: #e05f06;
$white-color: #ffffff;

$font-heading: 'Arvo', serif;
$font-text: 'Lato', sans-serif;

$font-size-xs: 10px;
$font-size-hint: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-btn: 20px;
$font-size-lg: 24px;
$font-size-xl: 48px;

$breakpoint-small: 576px;
$breakpoint-medium: 1024px;
$breakpoint-large-from: 1025px;